
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:antiquewhite;
    font-family: 'Bahnschrift', monospace;
}

a{
    text-decoration: none;
    color: rgb(38, 38, 38);
}

h1{
    color: rgb(38, 38, 38);
    font-size: 2rem;
}
h2{
    color: rgb(38, 38, 38);
    font-size: 0.8rem;
}
p{
    color: rgb(38, 38, 38);
    font-size: 1rem;
}

header{
    background-color: #b68788;
}



.encabezado-logo{
    background-color:#b68788;     
}

.encabezado{
    background-color:#b68788;
    list-style-type: none;     
}

.menu-encabezado {
    color: rgb(38, 38, 38);
    padding: 2rem;
    background-color:#b68788;     
}


.titulo-bienvenida{
    font-size: 5rem;
    padding-top: 5rem;
    font-family: 'Segoe Print', monospace;
}
.texto-bienvenida{
    font-size: 1.8rem;
    padding-top: 2rem;
}

.acceso-h{
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.acceso-item{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center; 
    text-align:center;
}


.seccion-central{
    padding-top: 5rem;
    padding-bottom: 5rem;
}


.imagen-seccion{
    width: 90%;
    padding-top: 1rem;

}



footer{
    background-color:#b68788;
}

.pie-pagina{
    background-color:#b68788; 
    padding: 1rem;    
}

.menu-pie {
    color: rgb(38, 38, 38);
    font-size: 1rem;
    background-color:#b68788;
}

.menu-pie-item{
    background-color:#b68788;
}

.pie-icono {
    background-color:#b68788;
    list-style-type: none; 
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.menu-pie-icono{
    background-color:#b68788;
    padding-bottom: 2rem;
    padding-left: 1rem; 
    padding-right: 1rem;
    
}

